@model IEnumerable<AirBookings.Models.Seat>
@{
    ViewBag.Title = "Air Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div>
    <h3>Свободные места</h3>
    <table>
        <tr class="header">
            <td><p>Id</p></td>
            <td><p>Код самолета</p></td>
            <td><p>Номер места</p></td>
            <td></td>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td><p>@s.Id</p></td>
                <td><p>@s.AircraftId</p></td>
                <td><p>@s.SeatNumber</p></td>
                <td><p><a href="/Home/Buy/@s.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>