@{
    ViewBag.Title = "Air Bookings";
}

<div>
    <h3>Доступные бронирования:</h3>
    <table border="1">
        @foreach (var flight in ViewBag.Flights)
        {
            <tr>
                <td>@flight.DepartureAirport - @flight.ArrivalAirport</td>
            </tr>
            foreach (var aircraft in ViewBag.Aircrafts)
            {
                if (aircraft.Id == flight.AircraftId)
                {
                    <tr>
                        <td>@aircraft.Model</td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                @foreach (var seat in ViewBag.Seats)
                                {
                                    if (seat.AircraftId == aircraft.Id)
                                    {
                                    <tr>
                                        <td>@seat.SeatNumber</td>
                                    </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
